h1 {
    font-size: 70px;
    font-family:cursive;
}


.boton1 {
    color:#E67E22;
    width: 950px;
    height: 500px;
    margin-left: 10px;
    margin-bottom:900px;
    padding-left: 20;
    left: 350px;
    position:relative;
    text-align: center;
    font-size:20px;
}

.boton2 {
    color:#E67E22;
    width: 950px;
    height: 350px;
    margin-left: 10;
    margin-bottom:900px;
    padding-left: 20;
    left: 350px;
    position:relative;
    text-align: center;
    font-size:20px;
}

.boton3 {
    color:#E67E22;
    width: 950px;
    height: 450px;
    margin-left: 10;
    margin-bottom:800px;
    padding-left: 20;
    left: 350px;
    position:relative;
    text-align: center;
    font-size:20px;
}

.caja {
    position: fixed;
    width: 200px;
    height: 950px;
    margin-bottom:30px;
    padding-left: 20;
    left:0;
    background-image: url("Imagenes/escudo.jpg");
}

.borra {
    clear:both;
}
.pie {
    color:#E67E22;
    width: 850px;
    height: 110px;
    margin-left: 0;
    margin-bottom:30px;
    padding-top: 5px;
    border: 1px solid #E67E22;
    left: 470px;
    text-align: center;
    position:relative;
}

.naranja {
    color:white;
}